/*

* Override Pages default styles or create your own styles here

*/

/* Override Default css to get top of the modal */
.select2-dropdown {
    z-index: 9001;
  }

.vertical-line {
  margin: 0 8px;
  display: inline-block;
  height: .9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
  background: #e8e8e8;
}

.border-left-white {
  border-right: 1px solid #788195;
  padding-right: 25px;
}

.page-item.active .page-link {
  z-index: 2;
  color: #1890ff;
  background-color: #fff;
  border-color: #1890ff;
  border-radius: 4px;
}

.page-link {
  margin-left: 7px;
  border-radius: 4px;
}

.container-fixed-l {
  scroll-behavior: smooth;
}

.error-illustration {
  float: right;
  width: 100%;
  max-width: 430px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: contain;
}

.table tbody tr > td.success {
  background-color: whitesmoke !important;
}
